<!DOCTYPE html>
<html>
<head>
<link href="../../public/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<link href="../../public/styles/admin.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
<header>
    <h3 id="title">Admin Page</h3>
</header>

<hr id="divider">

<div id="list">
    <ul id="data">
        <li>
            <div class="del-btn">Delete</div>
            <div>userID</div>
            <div>username</div>
            <div>access level</div>
        </li><hr>
    </ul>
</div>
<script src="../../public/scripts/jquery.min.js"></script>
<script src="../../public/scripts/jquery.backtotop.js"></script>
<script src="../../public/scripts/jquery.mobilemenu.js"></script>
<script src="../../public/scripts/js-cookie.js" type="text/javascript" ></script>
<script src="../../public/scripts/admin.js" type="text/javascript" ></script>
</body>
</html>