<!DOCTYPE html>
<html>
<head>
<link href="../../public/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<link href="../../public/styles/admin.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
<div id="left-nav">
    <h3 id="title">Admin page</h3>
</div>
<div>
    <ul id="data">
        <li class="row">
            <div class="del-btn">-</div>
            <div>userID</div>
            <div>username</div>
            <div>access level</div>
        </li>
    </ul>
</div>
<script src="../../public/scripts/jquery.min.js"></script>
<script src="../../public/scripts/jquery.backtotop.js"></script>
<script src="../../public/scripts/jquery.mobilemenu.js"></script>
<script src="../../public/scripts/js-cookie.js" type="text/javascript" ></script>
<script src="../../public/scripts/admin.js" type="text/javascript" ></script>
</body>
</html>