body{display:grid; width:100%; height:100%;
    grid-template:".   .   ." minmax(100px, 20%)
                  ".  head ." 20%
                  ". divider ." 10%
                  ".  list ." 50%
                  /10% 80% 10%
}
body *::after, body *::before {transition:none;}

header{grid-area:head; display:flex; justify-content:center;}
header h3{font-family:Verdana, Geneva, Tahoma, sans-serif;text-transform:none;font-variant:unset;;font-size:40pt;}

#divider {grid-area:divider;}

#list {grid-area:list; box-shadow:0px 0px 7px 2px black;}
#list ul{ list-style:none; padding:0 0 20px 0; font-size:12pt;}
#list ul li{display:flex;flex-flow:row; justify-content:space-evenly; align-items:center; height:40px;}
#list ul li div{ width:220px; display:flex; justify-content:center;}
#list ul li div:first-child{width:70px;}

#list ul .row div:first-child:hover{background-color:#00000040; cursor:pointer;}